# {{ ansible_managed }}
version: '2'

services:
  speedtest:
    container_name: speedtest
    restart: unless-stopped
    environment:
    - MODE=standalone
    - TITLE=OVH-TEST
    networks: 
      - {{ traefik_docker_network }}
    hostname: speedtest
    image: adolfintel/speedtest:latest
    labels:
      - "traefik.enable=true"
      - "traefik.http.routers.speedtest.rule=Host(`{{ speedtest_subdomain }}.{{ domain }}`)"
      - "traefik.http.routers.speedtest.tls=true"
      - "traefik.http.routers.speedtest.entrypoints=websecure"
      - "traefik.http.services.speedtest.loadbalancer.server.port=80"

networks:
  {{ traefik_docker_network }}:
    external: true
