---
# systemd
user: "${username}"
copy_local_key: "{{ lookup('file', lookup('env','HOME') + '/.ssh/leaseweb.pub') }}"
domain: "${domain}"
server_ip: "${instance-ip}"
current_hostname: "${instance-name}"

# Docker 
docker_network: "traefik"

# Container Configurations #
# Portainer #
portainer_subdomain: "${portainer_subdomain}"
portainer_dir: "${portainer_dir}"

# Traefik #
# Install
traefik_version: "${traefik_version}"
traefik_directory: "/home/{{ user }}/traefik"

# Main configuration
traefik_global_https_redirect: true
traefik_port_http: 80
traefik_port_https: 443

# General settings
traefik_log_level: "WARNING"
traefik_accesslog_enable: ${accesslogtraefik}

# Enable automatic certificates from Let's Encrypt
traefik_acme_enable: ${acme_enable}
traefik_acme_email: "${acme_email}"
DNS: "${acme_dns}"
SecretFile: "${acme_service_file_name}"
SecretLocation: "${acme_service_file_src}"

# Dashboard
traefik_dashboard_enable: ${traefik_dashboard}
traefik_dashboard_subdomain: "${traefik_dashboard_subdomain}"
traefik_dashboard_basicauth_enable: ${traefik_dashboard_basicauth_enable}
traefik_dashboard_basicauth_users: []

# FreeIpa #
freeipa_subdomain: "${freeipa_subdomain}"
ADMIN_PASSWD: "${ADMIN_PASSWD}"
DS_PASSWD: "${DS_PASSWD}"
freeipa_compose: "${freeipa_compose}"
